<header>
  <div class="top">
    <h2>facebook</h2>
  </div>
</header>
<section>
  <div class="center">
    <h2>SignUp into Facebook</h2>
    <form [formGroup]="signUpForm" (ngSubmit)="onSignUpSubmit()">
      <input type="text" placeholder="FastName" formControlName="firstName" class="signup-input"/>
      <input type="text" placeholder="LastName" formControlName="lastName" class="signup-input"/>
      <input type="text" placeholder="Phone Number" formControlName="phone" class="signup-input"/>
      <input type="text" placeholder="Email" formControlName="email" class="signup-input"/>

      <input type="radio" id="male" value="MALE" formControlName="gender" >&nbsp;
      <label for="male">Male</label>
      <input type="radio" id="female" value="FEMALE"  formControlName="gender">&nbsp;
      <label for="female">Female</label>
      <input type="radio" id="other" value="OTHER" formControlName="gender">&nbsp;
      <label for="other">Other</label>

<!--      <input type="text" placeholder="Gender" formControlName="gender"/>-->
      <input type="date" placeholder="birthDate" formControlName="birthDate" class="signup-input"/>
      <input type="password" placeholder="Password" formControlName="password" class="signup-input"/>
      <button class="btn btn-login" [disabled]="!signUpForm.valid">Log In</button>
      <p class="links"><a href="#" [routerLink]="['/auth']">If you have already account</a></p>
    </form>
  </div>
</section>
