<div class="container">
  <div class="row">
    <div class="col-md-6 offset-md-3">
      <h1>Signup here!!</h1>
      <hr/>
      <form  [formGroup]="signUpForm" (ngSubmit)="onSignUpSubmit()">
      <div class="mb-3">
        <label>Name : </label>
        <input type="text" class="form-control" placeholder="Enter your Name" formControlName="name">
      </div>

        <div class="mb-3">
          <label>Phone Number : </label>
          <input type="text" class="form-control" placeholder="Enter your Phone Number" formControlName="phone">
        </div>

        <div class="mb-3">
        <label>Email : </label>
        <input type="email" class="form-control" placeholder="Enter your Email" formControlName="email">
      </div>


      <div class="mb-3">
        <label>Password : </label>
        <input type="password" class="form-control" placeholder="Enter your Password" formControlName="password">
      </div>

      <div class="mb-3">
        <button class="btn btn-primary" type="submit" [disabled]="!signUpForm.valid">SignUp</button>
      </div>
      </form>
    </div>
  </div>
</div>
